header.top-header {
  height: 60px;
  position: relative; }

.navbar-default {
  margin-top: 7px; }

.article-editor,
.article-preview {
  box-sizing: border-box;
  padding: 15px; }

.article-editor {
  background-color: #eee; }

a.my-logo {
  float: left;
  text-transform: uppercase;
  font-size: 28px;
  margin: 0px;
  font-weight: bold; }

a.my-logo .first {
  color: #fff; }

a.my-logo .next {
  color: #cfc94d; }
