<!-- about section -->
<section class="about text-center" id="sec2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 about-heading">
        <h2>
          ABOUT
        </h2>
        <img src="/static/folio/img/daag.png" alt="">

        <p>For those doing scientific research, it can be a long time to wait until your
          writing is ready to publish in full scientific journals. Our platform lets you
          <span>publish small articles about your research</span> monthly. This means you can
          publish small chunks of your research and publish them to the web.</p>
      </div>

      <div class="col-md-3 single-about col-xs-6 col-sm-4">
        <div class="about-inside">
          <i class="fa fa-lightbulb-o"></i>
          <h3>Idea Conception</h3>
          <p>Think of something in your field you'd like to write about. </p>
        </div>
      </div>

      <div class="col-md-3 single-about col-xs-6 col-sm-4">
        <div class="about-inside">
          <i class="fa fa-pencil"></i>
          <h3>Compose Article</h3>
          <p>Write. The more informal, the better. We're looking for engaging ideas and articles,
            not academic tomes.</p>
        </div>
      </div>

      <div class="col-md-3 single-about col-xs-6 col-sm-4">
        <div class="about-inside">
          <i class="fa fa-cog"></i>
          <h3>Submit For Review</h3>
          <p>Optionally, you can have your work submitted for feedback from peers before it goes live.</p>
        </div>
      </div>

      <div class="col-md-3 single-about col-xs-6 col-sm-4">
        <div class="about-inside">
          <i class="fa fa-laptop"></i>
          <h3>Publish</h3>
          <p>Once you're ready, publish what you've written for all the world to read.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- end of about section -->
