<!-- about section -->
<section class="about text-center" id="sec2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 about-heading">
        <h2>
          ABOUT
        </h2>
        <img src="/static/folio/img/daag.png" alt="">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <span>quis nostrud exercitation ullamco</span> laboris nisi ut aliquip ex ea
            commodo consequat duis aute irure dolor.</p>
      </div>

      <div class="col-md-3 single-about col-xs-6 col-sm-4">
        <div class="about-inside">
          <i class="fa fa-lightbulb-o"></i>
          <h3>Title goes here</h3>
          <p>onsectetur adipisicaing elit, sedo eiusmod tempor incidi
          et dolorerserss eerhfre mag.</p>
        </div>
      </div>

      <div class="col-md-3 single-about col-xs-6 col-sm-4">
        <div class="about-inside">
          <i class="fa fa-pencil"></i>
          <h3>Title goes here</h3>
          <p>onsectetur adipisicaing elit, sedo eiusmod tempor incidi
          et dolorerserss eerhfre mag.</p>
        </div>
      </div>

      <div class="col-md-3 single-about col-xs-6 col-sm-4">
        <div class="about-inside">
          <i class="fa fa-cog"></i>
          <h3>Title goes here</h3>
          <p>onsectetur adipisicaing elit, sedo eiusmod tempor incidi
          et dolorerserss eerhfre mag.</p>
        </div>
      </div>

      <div class="col-md-3 single-about col-xs-6 col-sm-4">
        <div class="about-inside">
          <i class="fa fa-laptop"></i>
          <h3>Title goes here</h3>
          <p>onsectetur adipisicaing elit, sedo eiusmod tempor incidi
          et dolorerserss eerhfre mag.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- end of about section -->
