<!-- banner area starts here -->
<section class="banner text-center" id="sec1">
  <div class="container">
    <div class="row">
      <h3>Want to publish your research now,<br>without waiting for the academic journals?</h3>

      <h1>stem journal</h1>

      <p>Publish small article entries in your field for peers to review</p>

      <img src="/static/folio/img/pin.png" alt=""><br>

      <button class="know-more">TRY IT NOW</button>
    </div>
  </div>
</section><!-- end of banner section -->
