<section class="contact text-center" id="sec5">
  <div class="container">
    <div class="row">
      <article class="contact-heading">
        <h2>CONTACT US</h2>
        <img src="/static/folio/img/daag.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br> ut labore et dolore magna aliqua.</p>
      </article>
    </div>
  </div>
</section><!-- end of contact section -->

<section class="contact-form">
  <div class="container">
    <div class="row">
      <div class="form">
          <form action=".">
            <div class="sbtn col-md-12 text-center">
              <div class="form-group">
                <label for="name">Name</label><input id="name" class="name form-input" type="text" placeholder="name">
              </div>
              <div class="form-group">
                <label for="email">Email</label><input id="email" class="email form-input" type="email" placeholder="email">
              </div>
              <div class="form-group">
                <label for="message">Message</label><input id="message" class="message form-input" type="text" placeholder="message">
              </div>
              <div class="form-group">
                <input  class="submit-btn" type="submit">
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</section>
