<!-- features section -->
<section class="service text-left" id="sec3">
  <div class="container">
    <div class="row">
      <div class="service-overlay"></div>
        <div class="col-md-12">
          <h2>FEATURES</h2>
          <img src="/static/folio/img/daag.png" alt="">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <br>
          <br>
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-12 services">
          <div class="col-md-2 single-service col-xs-6 col-sm-3">
            <i class="fa fa-tachometer"></i>
            <h3>Title goes here</h3>
            <p>Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
          </div>

          <div class="col-md-2 col-md-push-1 single-service col-xs-6 col-sm-3">
            <i class="fa fa-search"></i>
            <h3>Title goes here</h3>
            <p>Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
          </div>
        </div>

        <div class="col-md-12  services bottom-services">

          <div class="col-md-2 single-service col-sm-3 col-xs-6">
            <i class="fa fa-stack-overflow"></i>
            <h3>Title goes here</h3>
            <p>Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
          </div>

          <div class="col-md-2 col-md-push-1 single-service col-sm-3 col-xs-6">
            <i class="fa fa-bar-chart"></i>
            <h3>Title goes here</h3>
            <p>Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
          </div>
        </div>
    </div>
  </div>
</section><!-- about features ends -->
