<!-- portfolio section -->
<section class="portfolio text-center" id="sec4">
  <div class="row portfolio-row">
    <div class="portfolio-heading">
      <h2>MY WORK</h2>
      <img src="/static/folio/img/daag.png" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br><br>
      ut labore et dolore magna aliqua.</p>
    </div>

    <div class="col-md-3 single-portfolio col-sm-6">
      <figure class="portfolio-item">
        <img class="img-responsive" src="/static/folio/img/portfolio.jpg" alt="">
        <figcaption class="portfolio-details">
          <h4>Title goes here</h4>
          <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi
          et dolorerserss eerhfre mag.</p>
        </figcaption>
      </figure>
      <a href="/static/folio/img/portfolio.jpg"><i class="fa fa-search"></i></a>
    </div>

    <div class="col-md-3 single-portfolio col-sm-6">
      <figure class="portfolio-item">
        <img class="img-responsive" src="/static/folio/img/portfolio2.jpg" alt="">
        <figcaption class="portfolio-details">
          <h4>Title goes here</h4>
          <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi
          et dolorerserss eerhfre mag.</p>
        </figcaption>
      </figure>
      <a href="/static/folio/img/portfolio2.jpg"><i class="fa fa-search"></i></a>
    </div>

    <div class="col-md-3 single-portfolio col-sm-6">
      <figure class="portfolio-item">
        <img class="img-responsive" src="/static/folio/img/portfolio3.jpg" alt="">
        <figcaption class="portfolio-details">
          <h4>Title goes here</h4>
          <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi
          et dolorerserss eerhfre mag.</p>
        </figcaption>
      </figure>
      <a href="/static/folio/img/portfolio3.jpg"><i class="fa fa-search"></i></a>
    </div>

    <div class="col-md-3 single-portfolio col-sm-6">
      <figure class="portfolio-item">
        <img class="img-responsive" src="/static/folio/img/portfolio4.jpg" alt="">
        <figcaption class="portfolio-details">
          <h4>Title goes here</h4>
          <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi
          et dolorerserss eerhfre mag.</p>
        </figcaption>
      </figure>
      <a href="/static/folio/img/portfolio4.jpg"><i class="fa fa-search"></i></a>
    </div>

    <div class="col-md-3 single-portfolio col-sm-6">
      <figure class="portfolio-item">
        <img class="img-responsive" src="/static/folio/img/portfolio5.jpg" alt="">
        <figcaption class="portfolio-details">
          <h4>Title goes here</h4>
          <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi
          et dolorerserss eerhfre mag.</p>
        </figcaption>
      </figure>
      <a href="/static/folio/img/portfolio5.jpg"><i class="fa fa-search"></i></a>
    </div>

    <div class="col-md-3 single-portfolio col-sm-6">
      <figure class="portfolio-item">
        <img class="img-responsive" src="/static/folio/img/portfolio6.jpg" alt="">
        <figcaption class="portfolio-details">
          <h4>Title goes here</h4>
          <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi
          et dolorerserss eerhfre mag.</p>
        </figcaption>
      </figure>
      <a href="/static/folio/img/portfolio6.jpg"><i class="fa fa-search"></i></a>
    </div>

    <div class="col-md-3 single-portfolio col-sm-6">
      <figure class="portfolio-item">
        <img class="img-responsive" src="/static/folio/img/portfolio7.jpg" alt="">
        <figcaption class="portfolio-details">
          <h4>Title goes here</h4>
          <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi
          et dolorerserss eerhfre mag.</p>
        </figcaption>
      </figure>
      <a href="/static/folio/img/portfolio7.jpg"><i class="fa fa-search"></i></a>
    </div>

    <div class="col-md-3 single-portfolio col-sm-6">
      <figure class="portfolio-item">
        <img class="img-responsive" src="/static/folio/img/portfolio8.jpg" alt="">
        <figcaption class="portfolio-details">
          <h4>Title goes here</h4>
          <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi
          et dolorerserss eerhfre mag.</p>
        </figcaption>
      </figure>
      <a href="/static/folio/img/portfolio8.jpg"><i class="fa fa-search"></i></a>
    </div>
  </div>
</section><!-- end of portfolio section -->
