$header-height: 60px;

header.top-header {
  height: $header-height;
  position: relative;
}

.navbar-default {
  margin-top: 7px;
}

.article-editor,
.article-preview {
  
}

.article-editor {
  background-color: #eee;
}
