<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	<title>STEM Journal</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>

	<!-- bower:css -->
	<link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.css" />
	<!-- endbower -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/static/folio/css/style.css">
	<link rel="stylesheet" href="/static/css/styles.css">
	<!-- endinject -->

	<!--[if lt IE 9]>
    <script src="/static/folio/js/html5shiv.js"></script>
    <script src="/static/folio/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>

	{% include "shared/header.html" %}

	<div class="main">

		{% block content %}

			{% include "index/all.html" %}

		{% endblock %}

	</div>

	{% block footer %}
		{% include "shared/footer.html" %}
	{% endblock %}

	<!-- bower:js -->
	<script src="/static/lib/MathJax/MathJax.js"></script>
	<script src="/static/lib/jquery/dist/jquery.js"></script>
	<script src="/static/lib/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbower -->

	<script src="/static/folio/js/html5shiv.js"></script>
	<script src="/static/folio/js/jquery-2.1.1.js"></script>
	<script src="/static/folio/js/respond.min.js"></script>
	<script src="/static/folio/js/smoothscroll.js"></script>
	<script src="/static/folio/js/custom.js"></script>

	{% block scripts %}{% endblock %}
</body>
</html>
