{% extends "index.html" %}

{% block content %}

  <div class="container">

    <div class="row">

      <div class="col-md-6">
        <h2>My Articles</h2>
        <br />
        <table class="table" role="table">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Published
              </th>
            </tr>
          </thead>
          <tbody>
            {% for article in user_articles %}
            <tr>
              <td>
                <a href="/journal/article/{{ article.slug }}">{{ article.title }}</a>
              </td>
              <td>
                {{ article.created_at }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <h2>My Profile</h2>
      </div>

    </div>

  </div>

{% endblock %}
