{% extends "index.html" %}

{% block content %}

  <div class="container">

    <div class="row">

      <div class="col-md-6">
        <h2>My Articles</h2>
        <br />
        <ul>
          {% for article in user_articles %}
          <li>
            <a href="/journal/article/{{ article.slug }}">{{ article.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-6">
        <h2>My Profile</h2>
      </div>

    </div>

  </div>

{% endblock %}
