{% extends "index.html" %}

{% block content %}

  <form action="/article/new/" method="post">

    {% csrf_token %}
    <div class="row">

      <div class="col-md-6">
        {{ form.title }}
        {{ form.content }}
        {{ form.published_at }}
      </div>

      <div class="col-md-6">
        <div id="loading" style="min-height:200px;text-align:center;display:none;">
          <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        </div>
        <div id="preview">

        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success">Publish</button>
    <button type="submit" class="btn btn-default">Save and Quit</button>
    <button type="submit" class="btn btn-primary">Save Draft</button>

  </form>

{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}

  <script type="text/javascript">
  var isRefreshing = false;
  (function() {
    'use strict';

    $("#id_content").keyup(function(){
      if (isRefreshing){
        return;
      }

      isRefreshing = true;

      var text = $(this).val();
      var preview = $('#preview');
      preview.text(text);

      var math = MathJax.Hub.getAllJax("preview")[0];
      MathJax.Hub.Queue([function(){
        $('#preview').hide();
        $("#loading").show();
      }, 1], ["Typeset", MathJax.Hub, math], [function(){
        $("#preview").show();
        $("#loading").hide();
      }, 2], [function(){
        isRefreshing = false;
      }, 3]);

    });
    }());
  </script>
{% endblock %}
