{% csrf_token %}
<div class="row">

  <div class="col-md-6" style="width:50%;height:100vh;background-color:#eee;position:relative;">
    <h2>Article Editor <i style="margin-left:15px;color:#666;" class="fa fa-pencil-square-o"></i></h2>
    <label for="{{ form.title.label_id }}">Title</label>
    {{ form.title }}
    <label for="{{ form.content.label_id }}">Content</label>
    {{ form.content }}
    <div class="form-inline">

      <label for="{{ form.published_at.label_id }}">Publish Date</label>
      {{ form.published_at }}
    </div>

    <div class="buttons" style="position:absolute;bottom:10px;right:10px;">
      <button type="submit" class="btn btn-success">Publish</button>
      <button type="submit" class="btn btn-default">Save and Quit</button>
      <button type="submit" class="btn btn-primary">Save Draft</button>
    </div>
  </div>

  <div class="col-md-6" style="width:50%;height:100vh;overflow-y:scroll;">
    <h2>Preview Pane <i style="color:#666;margin-left:15px;" class="fa fa-newspaper-o"></i></h2>
    <div id="loading" style="min-height:400px;text-align:center;display:none;vertical-align:middle;">
      <i class="fa fa-refresh fa-spin fa-4x fa-fw"></i>
    </div>
    <div id="preview">

    </div>

  </div>

</div>
