{% extends "account.html" %}

{% block content %}

  <div class="container">
    <h2>{{ article.title }}</h2>
    <strong>by {{ article.author.username }}</strong>
    <br />
    <em style="color:#999;">Published on {{ article.published_at }}</em>
    <br /><br />
    <div id="loading" style="min-height:200px;text-align:center;">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
    </div>
    <div id="content" style="display:none;">
      {{ article.content }}
    </div>
  </div>

{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}

  <script type="text/javascript">
    (function() {
      'use strict';

      var content = $("#content");
      var math = MathJax.Hub.getAllJax("content")[0];
      // queue up the mathjax formatting of the page, then trigger show of content
      // once the formatting has been completed.
      MathJax.Hub.Queue(["Typeset", MathJax.Hub, math], [function(){
        $("#loading").hide();
        $("#content").show();
      }, 2]);


    }());
  </script>
{% endblock %}
